Source: torizon-rac
Section: net
Priority: optional
Maintainer: Toradex Packaging Team <debian-pkg-team@toradex.com>
Rules-Requires-Root: no
Build-Depends: ca-certificates, cargo, debhelper-compat (= 13), git
Standards-Version: 4.6.2
Homepage: https://github.com/toradex/torizon-rac
Vcs-Browser: https://github.org/torizon/rac-deb
Vcs-Git: https://github.org/torizon/rac-deb.git

Package: torizon-rac
Architecture: any
Multi-Arch: foreign
Depends: aktualizr-torizon, openssh-server, ${misc:Depends}, ${shlibs:Depends}
Description: remote access client for Torizon
 Starts a remote session, allowing a user to connect to a device using ssh.
 .
 RAC will receive allowed keys from the server and update an `authorized_keys`
 file.
 .
 RAC will periodically check the server to ensure the session is still
 valid and the public keys are still authorized.
 .
 RAC will try to recover from errors and reconnect.
